<%= form_for(:session , url: sessions_new_path) do |f| %>

<%= f.label :email, "email" %> <br>
<%= f.email_field :email %> <br>

<%= f.label :password, "password" %> <br>
<%= f.password_field :password %> <br>
<br>
<%= f.label :remember do %>
   <%= f.check_box :remember %>
   <span>Remember me on this computer</span>
 <% end %>
<%= f.submit  "LOG IN" %>

<% end %>


