<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title)%>| memebers-only</title>
  <%= render "partials/header" %>
</head>

<body>
  <%= render "partials/navigation" %>
  <%= render "partials/flash" %>

  <%= yield %>

</body>

</html>