<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
     <span>click <%= link_to "sign out" , method: :delete  %> on this link to log out</span>
    <% else%>
    <span>click <%= link_to "sign in" , sessions_new_path %> on this link to log in</span>
    <% end %>
    <%= yield %>
  </body>
</html>
