<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type,message| %>
    <div class="alert alert-<%=message_type%>"><%=message%></div>
    <%end%>

    <% if logged_in? %>
     <span>click <%= link_to "log out" ,logout_path,  method: :delete  %> on this link to log out</span>
    <% else%>
    <span>click <%= link_to "sign in" , sessions_new_path %> on this link to log in</span>
    <% end %>
   
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
